@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  @apply bg-gray-100;
}

@keyframes softColorLoader {

  0% {
    background-position: 0% 50%;
  }

  100% {
    background-position: 300% 50%;
  }

}

/* ADD this in globals.css */
html, body {
  overflow: hidden;
  height: 100%;
}

/* Hide all scrollbars globally */
*{
  -ms-overflow-style: none;
  scrollbar-width: none;
}
*::-webkit-scrollbar {
  display: none;
}

.custom-scroll::-webkit-scrollbar {
  width: 6px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background-color: #cbd5e1; /* light gray */
  border-radius: 10px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: transparent;
}

/* scrolbar */
.custom-scroll {
  scrollbar-width: thin;
  scrollbar-color: #c1c1c1 transparent;
}

/* digiva crm global.css changes below */
/* customer-->customer */

@import "tailwindcss";

@layer components {

  /* All Input Fields */
  .filter-input {
   @apply border border-orange-500 bg-white rounded-sm px-3 py-2
    text-sm outline-none w-full transition-all;
  }

  /* Focus Effect */
  .filter-input:focus {
    @apply border-black ring-0 outline-none;
  }

  /* Select Box */
  .filter-select {
    @apply border border-black bg-white rounded-sm px-3 py-2 
    text-sm text-black outline-none w-full transition-all;
  }

  .filter-select:focus {
    @apply border-black ring-0 outline-none;
  }

  /* Filter Button */
  .filter-btn {
    @apply border border-black bg-black text-white 
    rounded-sm px-4 py-2 font-semibold transition-all;
  }

  .filter-btn:hover {
    @apply bg-gray-900;
  }
}

